# If you want Xazab Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-dash.desktop

[Desktop Entry]
Comment=Xazab Electrum Wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-dash %u"
GenericName[en_US]=Xazab Electrum
GenericName=Xazab Electrum
Icon=electrum-dash
Name[en_US]=Xazab Electrum
Name=Xazab Electrum
Categories=Network;
StartupNotify=true
StartupWMClass=dash-electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/dash;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-dash --testnet %u"
Name=Testnet mode
