include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-dash.desktop
include *.py
include electrum-dash
recursive-include packages *.py
recursive-include packages cacert.pem
graft debian

include contrib/requirements/requirements*.txt
include contrib/deterministic-build/requirements*.txt
include contrib/make_libsecp256k1.sh
include contrib/build_tools_util.sh

graft electrum_dash
graft contrib/udev

exclude electrum_dash/*.so
exclude electrum_dash/*.so.0
exclude electrum_dash/*.dll
exclude electrum_dash/*.dylib

global-exclude __pycache__
global-exclude *.py[co~]
global-exclude *.py.orig
global-exclude *.py.rej
global-exclude .git
